/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header nav li{
    display: inline-block;
    text-align: center; 
}

header nav li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.white-bg{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    margin: 2vh 2vh 0 0 ;
    vertical-align: middle;
}

.link-container{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
}

.shoe-img{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%) ;
}

.shoe-caption{
    position: absolute;
    bottom: 20vh;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 900;
}

.yellow-txt{
    color: yellow;
}

.green-txt{
    color: olivedrab;
}

#first-shoe{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: red;
}

#second-shoe{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: olivedrab;
}

#third-shoe{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}